.KSocialLinks {
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	line-height: 50px;
}

.KSocialLinks a {
	display: inline-block;
	color: #fafafa;
	background: #27AE60;
	position: relative;
	text-indent: -9999px;
	width: 24px;
	line-height: 30px;
	padding: 0px 10px;
	border-radius: 3px;
	transition: all .2s;
}

.KSocialLinks a:after {
	content: "@";
	font-family: 'glyph';
	font-size: 24px;
	text-indent: 0px;
	color: #fafafa;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
}

.KSocialLinks a.shareFacebook { background-color: #2980b9; }
.KSocialLinks a.shareGoogle { background-color: #d35400; }
.KSocialLinks a.shareTwitter { background-color: #3daefd; }
.KSocialLinks a.shareForum { background-color: #0068c6; }
.KSocialLinks a.shareTelegram { background-color: #2ca5e0; }

.KSocialLinks a.shareFacebook:hover { background-color: #3498db; }
.KSocialLinks a.shareGoogle:hover { background-color: #f67400; }
.KSocialLinks a.shareTwitter:hover { background-color: #70c3fe; }
.KSocialLinks a.shareForum:hover { background-color: #1078d6; }
.KSocialLinks a.shareTelegram:hover { background-color: #2ca5e0; }

.KSocialLinks a.shareFacebook:after { content: "F"; }
.KSocialLinks a.shareGoogle:after { content: "G"; }
.KSocialLinks a.shareTwitter:after { content: "T"; }
.KSocialLinks a.shareForum:after { content: "K"; }
.KSocialLinks a.shareTelegram:after { content: "↗"; }



