.comingSoon {
	color: #c0392b;
	text-align: center;
}

.downloadButton a {
	display: block;
	width: 250px;
	margin: 10px auto;
	padding: 10px 20px 12px;
	border: solid 1px rgba(0,0,0,.1);
	color: #fafafa;
	background-color: #27AE60;
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	border-radius: 3px;
}

.downloadButton a:visited {
	color: #fafafa;
}

.downloadButton a:hover {
	background-color: #2ecc71;
	cursor: pointer;
}

.downloadButton a:disabled {
	background-color: transparent;
	color: rgba(0,0,0,.1);
	cursor: default;
}