<article class="KCommunityPane KDisplayPane">
	<div class="KCommunityPreview">
		<h2>Welcome to the KDE Community!</h2>
	</div>
</article>
<nav>
	<a href="https://www.kde.org/community/whatiskde/">About KDE</a>
	<a href="http://forum.kde.org/">Join the Forums</a>
	<a href="http://community.kde.org/Get_Involved/">Get Involved!</a>
	<a href="https://www.kde.org/support/mailinglists/">Mailing Lists</a>
	<a href="https://ev.kde.org/">The KDE e.V. Organisation</a>
</nav>