<article class="KDeveloperPane KDisplayPane">
	<h2>KDE Frameworks 5</h2>
	<small>A powerful, modular set of extensions for Qt.</small>
	<a href="http://api.kde.org/frameworks-api/frameworks5-apidocs/">Read the Documentation</a>
</article>
<nav>
	<a href="http://api.kde.org/">KDE API Reference</a>
	<a href="http://qt-project.org/">Qt API Reference</a>
	<a href="http://inqlude.org/">Inqlude Qt Library Archive</a>
	<a href="https://techbase.kde.org/Welcome_to_KDE_TechBase">KDE Techbase Wiki</a>
	<a href="https://techbase.kde.org/Special:MyLanguage/Development/Tutorials/Plasma5">Plasma Widget &amp; Theme Development</a>
	<a href="https://techbase.kde.org/Contribute/Get_a_Contributor_Account">Contributor Accounts</a>
	<a href="https://git.reviewboard.kde.org/dashboard/">GIT Review Board</a>
	<a href="https://svn.reviewboard.kde.org/r/">Subversion Review Board</a>
</nav>