<article class="KProductPane KDisplayPane">
	<h2>Plasma Desktop</h2>
	<div class="KProductsPreview">
		<nav>
			<a href="https://www.kde.org/workspaces/plasmadesktop/">Read about it</a>
			<a href="https://community.kde.org/Distributions">Browse distributions with Plasma</a>
		</nav>
	</div>
</article>
<nav>
	<a href="https://www.kde.org/announcements/">Announcements</a>
	<a href="http://www.kde.org/applications/">KDE Applications</a>
	<a href="http://neon.kde.org">KDE neon</a>
	<a href="http://plasma-mobile.org">Plasma Mobile</a>
</nav>
